{{!-- pages/index.hbs --}}

{{#> layouts/base title="Styleguide | Ururu | New Media Development | Artevelde University College Ghent" description="Styleguide for the course Mobile Development I" pathToRoot="./" }}

  {{#*inline "head-block"}}

  <link rel="stylesheet" media="all" href="../assets/css/main.css">
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="article">
            <div class="container">
        <h1>Style Guide Ururu</h1>

        <div class="typography">
            <h2>Typografie</h2>
            <hr>
            <p>Voor alle tekst toepassingen wordt
            Roberto gebruikt (links, quotes
            en bijschrijvingen behoren ook tot deze
            categorie. Bij de tekst maken wij
            gebruik van 14pt en 9pt op mobile
            toestellen. Voor de titels gebruiken wij
            Julius Sans Pro, 20pt bij dekstop en bij
            mobile toestellen is dat dan 10pt. Alle
            tekst die een achtergrondkleur als
            darkbat #323337, nightblue #2E4B51 heeft
            krijgt ofwel witte of skyblue #B6D5BB kleur. Voor de titels gebruiken
            wij darkbat #323337, nightblue #2E4B51. <p>

            <p class="titel dekstop">Titel voor dekstop 20pt - Julius Sans One</p>
            <p class="tekst dekstop">Tekst voor dekstop 12pt - Roberto</p>
            <p class="titel mobile">Titel voor mobile toestellen 12 pt - Julius Sans One</p>
            <p class="tekst mobile">Tekst voor mobile toestellen 9 pt - Roberto</p>
        </div>

        <div class="kleuren">
            <h2>Kleuren</h2>
            <hr>
            <p>Deze pallet wordt gebruikt omdat wij
            gebruik maken van de klassieke nightblue
            theme. Als deze kleuren behoren tot die
            categorie. Wij gebruiken ook vaak wit,
            maar die staat er niet in.<p>

            <div class="kleur een">Darkbat - #323337 CYMK: 9%, 7%, 0%, 78% RGB: 50, 51, 55</div>
            <div class="kleur twee">Nightblue - #2E4B51 CMYK: 43%, 7%, 0%, 68% RGB: 46, 75, 81</div>
            <div class="kleur drie">Skyblue - #B6D5BB CYMK: 0%, 12%, 15%, 16% RGB: 182, 213, 187</div>
            <div class="kleur vier">Rainycloud - #DEE3D1 CYMK: 2%, 0%, 8%, 11% RGB: 222, 227, 209</div>
            <div class="kleur vijf">Piratebrown - #E5D5A4 CYMK: 0%, 7%, 28%, 10% RGB: 229	213	164</div>
            <div class="kleur zes">Sandbeige - #4E362B CYMK: 0%, 31%, 45%, 69% RGB: 78, 54, 43</div>
            
        </div>

        <div class="logo">
            <h2>Logo</h2>
            <hr>
            <p>Het logo heeft een font-size van 30pt en
            de font Julius Sans Pro. De achtergrond
            van het logo is een graphic art die met
            de behulp van Illustrator werd
            gemaakt.<p>

            <img src="../assets/images/logo.png" alt="logo van Ururu">
        </div>

        <div class="afbeeldingen">
            <h2>Afbeeldingen</h2>
            <hr>
            <p>Bij afbeedingen en kaders wordt er
            gebruik gemaakt van een border van
            5px die solid is en het kleur wit of
            darkbat #323337 heeft.<p>

            <img class="projectAfbeelding" src="../assets/images/thumb.jpg" alt="afbeelding van project">
           
        </div>

        <div class="knoppen">
            <h2>Knoppen</h2>
            <hr>
            <p>Voor de meeste hover werk, wordt er
            gebruik gemaakt van de skyblue #B6D5BB tint. Vooral bij
            knoppen is het anders, daar wordt er
            gebruikt gemaakt van het nightblue tint,
            Nightblue. De knoppen zelf hebben een darkbat #323337 als achtergrond en de tekst
            die erin staat heeft de skyblue #B6D5BB kleur.<p>

            <a class="knopExample" My>Voorbeeldknop</a>
        </div>

        <div class="navigatie">
            <h2>Navigatie</h2>
            <hr>
            <p>Bij navigatie hebben wij een 20pt voor
            de titel en 20pt voor social media iconen die eronder staan
            <p>

            <p class="titel dekstop">Home</p>
            <i class="fa fa-address-book" aria-hidden="true"></i>
               
        </div>

        <div class="lijnen">
                <h2>Lijn</h2>
                <hr>
                <p>Er worden ook lijnen gebruikt. Als de
                achtergrond nightblue #2E4B51 is,
                gebruiken wij witte lijnen anders lijnen
                van skyblue #B6D5BB kleur, solid en
                5px.<p>
    
                
                <div class="lijn horizontal"></div>
                <div class="lijn vertical"></div>
            </div>

            <div class="achtergrondkleuren">
                <h2>Actergrondkleuren</h2>
                <hr>
                <p>Er worden twee achtergrond kleuren
                gebruikt, ze worden samen gehangd
                zodat de website een rustige sfeer en
                structuur heeft, en ook makkelijk te
                gebruiken is. Deze zijn de twee kleuren.<p>

                <div class="kleur een">Darkbat - #323337 CYMK: 9%, 7%, 0%, 78% RGB: 50, 51, 55</div>
                <div class="kleur twee">Nightblue - #2E4B51 CMYK: 43%, 7%, 0%, 68% RGB: 46, 75, 81</div>
    
                
            </div>

            <div class="lijsten">
                <h2>Lijsten</h2>
                <hr>
                <p>Bij lijsten wordt er gebruik gemaakt van
                roemeense kapitaal cijfers (list-style-type: upper-roman) als eerste
                niveau en voor de tweede niveau wordt
                er gebruikt gemaakt van squares (list-style-type: square) met
                een margin-right van -2em.<p>

                <ul>
                    <li class="lijst een">niveau een</li>
                    <li class="lijst een">niveau een</li>
                    <ul>
                        <li class="lijst twee">niveau twee</li>
                    </ul>
                    <li class="lijst een">niveau een</li>
                </ul>
            </div>

              <div class="iconen">
                  <h2>Icons</h2>
                  <hr>
                  <p>De iconen die wij gebruiken zijn van
                  fontawesome.io en worden met een
                  lettergrootte van 24pt gebruikt. voor de
                  hover wordt er dan weer gebruikt
                  gemaakt van het kleur skyblue #B6D5BB .<p>
      
                          <i class="fa fa-twitter fa-lg"></i>
                          <i class="fa fa-facebook fa-lg"></i>
                          <i class="fa fa-dribble fa-lg"></i>
                          <i class="fa fa-vimeo fa-lg"></i>
                          <i class="fa fa-youtube fa-lg"></i>
              </div>
              <div class="Projects">
                  <h2>Projects</h2>
                  <hr>
                  <p>De iconen die wij gebruiken zijn van
                  fontawesome.io en worden met een
                  lettergrootte van 24pt gebruikt. voor de
                  hover wordt er dan weer gebruikt
                  gemaakt van het kleur skyblue #B6D5BB .<p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}