.blogPostsContainer {
  float: none;
  margin: 0 auto;
}

.blogPost,
.box {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.blogPost {
  align-items: center;
  height: 590px;
  margin: 30px auto;
  width: 305px;

  @include boxShadow();
}

//background img moet hierin
.overlay img {
  width: 100%;
  height: 150px;
  background-size: auto;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(3px);
}

// where her img and face is
.above {
  //background: $snowwhite;
  color: $nightblue;
  height: 430px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 10%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

// line outside image
.above::before {
  border: 5px solid $skyblue;
  border-radius: 100%;
  content: "";
  height: 150px;
  width: 150px;
  left: 0;
  margin: 10% auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

// image itself lady
.above img {
  border: 5px solid $skyblue;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  margin: 5%;
  object-fit: cover;
  object-position: center;
}

// where our title of the post will be
.below {
  background: $nightblue;
  bottom: 0;
  color: $snowwhite;
  left: 0;
  position: absolute;
  text-align: center;
  top: 430px;
  width: 100%;
  padding: 6px 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

// MEDIA ---------------------------------------------------------- BLOGPOST~~ 
@include respond-to('medium') {
  .blogPost {
    display: inline-block;  // shows only 2
    margin: 25px 30px;
    width: 40%;
  }
}

@include respond-to('large') {
  .blogPostsContainer {
    display: flex;          // shows all of them
    justify-content: center;
  }

  .blogPost {
    width: 30%;
    margin: 50px 20px 100px;
  }
}
