.articleDetailContainer {
  overflow: hidden;
  width: 100%;
  margin: 35px auto;
  display: flex;
  align-items: center;
}

.textArticle {
  border: 3px solid $nightblue;
  padding: 0 10px;
  max-height: 200px;
  width: 100%;
  align-items: center;
}

.textArticle p:first-child {
  font-family: $headings-font-family;
}

.textArticle p:last-child {
  @include createBeforeLine(10px, 3px, $skyblue);

  color: $skyblue;
}

.imgArticle {
  width: 35%;
  height: 150px;
  display: flex;

  @include boxShadow();
}

// MEDIA -------------------------------------------------------------------- NEWS~~ 
@include respond-to('small') {
  .textArticle {
    min-height: 135px;
  }
}

@include respond-to('medium') {
  .imgArticle {
    height: 210px;
  }

  .textArticle {
    min-height: 193px;
  }
}

@include respond-to('large') {
  .imgArticle {
    height: 279px;
  }

  .textArticle {
    min-height: 263px;
  }
}

@include respond-to('huge') {
  .imgArticle {
    height: 300px;
  }

  .textArticle {
    min-height: 273px;
    padding: 0 30px;
  }
}
