
// projects
.project {
  @include drawProject (100%, auto);

  margin: 0 auto;
  padding: 20px 0;
}

.projectsContainer {
  margin: 0 auto;
}

.imgProject {
  @include drawImage (auto);
}

.nameStudent {
  @include createBeforeLine(30px, $skyblue, 2px);

  color: $skyblue;
  font-weight: 300;
  margin: 10px 0 0;
}

// project ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MEDIA
@include respond-to('small') {
  .imgProject {
    @include drawImage (auto);
  }
}

@include respond-to('medium') {
  .imgProject {
    @include drawImage (285px);
  }

  .project {
    @include drawProject (45%, auto);

    display: inline-block;
  }

  .project.Left {
    padding: 0 50px 0 0;
  }

  .nameProject {
    margin-top: 5px 0 30px;
  }
}

@include respond-to('large') {
  .imgProject {
    @include drawImage (360px);
  }
}

@include respond-to('huge') {
  .imgProject {
    @include drawImage (600px);
  }

  .textHover {
    //@include drawHoverText(50%);
  }
}
