h2.no-span {
  @include createBeforeLine(35%, $nightblue, 3px);
}

.buttonsHome {
  @include createRoundButton(200px, $snowwhite, $nightblue);
}

.sectionButton {
  display: flex;
  justify-content: center;
}

.buttonsHome:hover {
  color: $snowwhite;
  background-color: $nightblue;
  background-position: -50% 50%;
}

.buttonContainer {
  display: inline-block;
  margin: 0 auto;
}

// ---------------------------------------------------------------------------- MEDIA~

@include respond-to('medium') {
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
