// --PRIVACY --CONDITIONS
.privacyContainer,
.conditionsContainer {
  margin: 0 auto;
  text-align: justify;
}

.privacyContainer ul,
.conditionsContainer ul {
  list-style-type: upper-roman;
  padding-left: 10px;
}

.privacyContainer a,
.conditionsContainer a {
  color: $nightblue;
  text-decoration: none;
}

// --SITEMAP
.sitemapContainer {
  text-decoration: none;

  @include containers();
}

.sitemapContainer li {
  list-style-type: upper-roman;
}

.sitemapContainer a {
  text-decoration: none;

  @include drawALine($nightblue, $snowwhite);
}
