// --------------------------------------------------------------------------------------------   NAVIGATION~
.footer ul,
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $snowwhite;
}

.containerNav li {
  float: left;
}

.containerNav li a,
.containerFoot li a {
  display: block;
  color: $nightblue;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}

.containerNav {
  @include makeOuterContainer($snowwhite, $nightblue, 85%, 85%);
  @include boxShadow();

  height: 48px;

  @include respond-to ('large') {
    height: 53px;
  }

  @include respond-to ('huge') {
    height: 61px;
  }
}

.navigation {
  font-family: $headings-font-family;
  font-size: #{$base-font-size}pt;
  width: auto;
  padding: 0 8%;
  background: none;
  box-shadow: 1px 6px 4px -4px $nightblue;
  position: relative;
  z-index: 2;
}

li.listBoxFoot {
  @include createABorder(3px, left, $snowwhite, 0);
}

li.listBoxNav {
  @include createABorder(3px, right, $snowwhite, 0);

  float: right;
}

// The left and right titles on the navigation bar
a.right.foot,
a.right.nav {
  @include drawALine($snowwhite, $nightblue);
}

a.left.nav,
.fa.foot {
  @include drawALine($nightblue, $snowwhite);
}

#pullLogin,
#pullNav {
  display: none;
  padding: 10px 20px;
  cursor: pointer;
}

.navIcon {
  color: $snowwhite;
}

@include respond-to('mediumx') {
  .navigation {
    padding: 0;
  }

  nav a#pullNav {
    text-align: left;
    display: inline-block;

    @include drawALine($snowwhite, $nightblue);
  }

  nav ul {
    //display: none;
    height: auto;
  }

  li.listBoxNav,
  .containerNav li {
    border-right: none;
    float: none;
  }

  a.right.nav {
    @include drawALine($nightblue, $snowwhite);
  }

  nav a#pullLogin {
    float: right;
    text-align: right;
    display: inline-block;

    @include drawALine($snowwhite, $nightblue);
  }

  #pullLogin {
    display: block;
    position: relative;
  }

  .containerNav {
    @include makeOuterContainer($nightblue, $nightblue, 50%, 50%);

    height: 41px;
  }
}

// HEADER QUOTE
.footerWhiteSpace {
  height: 250px;
  box-sizing: border-box;
  background: $snowwhite;
}

.containerQuote {
  @include createABorder(4px, bottom, $nightblue, 120px);

  height: 130px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 3% 8%;

  @include respond-to('small') {
    @include createABorder(5px, bottom, $nightblue, 140px);

    height: 160px;
  }

  @include respond-to('medium') {
    @include createABorder(4px, bottom, $nightblue, 180px);

    height: 220px;
  }

  @include respond-to('large') {
    @include createABorder(5px, bottom, $nightblue, 210px);

    height: 260px;
  }

  @include respond-to('huge') {
    @include createABorder(5px, bottom, $nightblue, 250px);

    height: 350px;
  }
}
