{{!-- pages/projects.hbs --}}

{{#> layouts/base title="About Us | Ururu | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#* inline "head-block"}}        
  <div class="containerQuote">
    <h1>"Every beginner possesses a great potential to be an expert in his or her chosen field.”</h1>
  </div> 
{{/inline}}

 {{#*inline "content-block"}}
  <div class="container">
    <div class="buttonContainer">
      <div class="sectionDescription">
        <h2 class="no-span">overview courses</h2>
      </div>
    </div>
    <div class="aboutusBtn">
      <div class="MMPBtn">
        <a href="#">Multimediaproductie</a>
      </div>
      <div class="GMBBtn">
        <a href="#">Grafiemediabeleid</a>
      </div>
      <div class="CMOBtn">
        <a href="#">Crossmedia-ontwerp</a>
      </div>
    </div>
    <div class="aboutUsContainer">
    </div>  
  </div>

 {{/inline}}


{{#*inline scripts-block}}
      {{!-- Custom scripts per pag.e --}}
{{/inline}}

{{/layouts/base}}