{{!-- pages/blog.hbs --}}

{{#> layouts/base title="Blog | Ururu | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#* inline "head-block"}}    

  <div class="containerQuote">
    <h1>"a go-to eductional blog."</h1>
  </div> 

{{/inline}}

 {{#*inline "content-block"}}
 
  <div class="container">
    <div class="buttonContainer">
      <div class="sectionDescription">
        <h2 class="no-span">overvie posts</h2>
      </div>
    </div>
    <div class="blogPostsContainer">
    </div>  
  </div>

 {{/inline}}


{{#*inline scripts-block}}

      {{!-- Custom scripts per pag.e --}}
    <script src="assets/js/blogPosts.js"></script>

{{/inline}}

{{/layouts/base}}