{{!-- pages/projects.hbs --}}

{{#> layouts/base title="Project | Ururu | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#* inline "head-block"}}        
          <div class="containerQuote">
            <!-- hier zal de naam van de project komen -->
          </div> 
{{/inline}}




 {{#*inline "content-block"}}

  <div class="projectContainer container">
  </div>  
  
 {{/inline}}

{{/layouts/base}}