{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | Ururu | New Media Development | Artevelde University College Ghent" class="meehy" pathToRoot="./" }}

  {{#* inline "head-block"}}        
           <div class="containerQuote">
            <h1>motivated achievers<br>
              URURU<br>
              perform, learn & excel</h1>
          </div> 
  {{/inline}}

  {{#*inline "content-block"}}
  <div class="container">
          <div class="buttonContainer">
            <div class="sectionDescription">
              <h2 class="no-span">Check our latest project</h2>
            </div>
            <div class="sectionButton">
              <a class="buttonsHome" href="projects.html">See all projects</a>
            </div>
          </div>

          <div class="projectsContainer"></div>

          <div class="buttonContainer">
            <div class="sectionDescription">
              <h2 class="no-span">Check our latest articles</h2>
            </div>
            <div class="sectionButton">
              <a class="buttonsHome" href="news.html">See all articles</a>
            </div>
          </div>


          <div class="articlesContainer"></div>


          <div class="buttonContainer">
            <div class="sectionDescription">
              <h2 class="no-span">Check our latest blogposts</h2>
            </div>
            <div class="sectionButton">
              <a class="buttonsHome" href="blog.html">Visit our blog</a>
            </div>
          </div>
          
           <div class="blogPostsContainer"></div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}


{{/layouts/base}}