{{!-- pages/login.hbs --}}

{{#> layouts/base title="Login | Ururu | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#* inline "head-block"}}        
          <div class="containerQuote">
            <div class="loginOrNot"><h1>"A place where people come to sign in"</h1>
            </div>
          </div> 
{{/inline}}

 {{#*inline "content-block"}}
         <div class="loginContainer container">
            <div class="pageBtn">
                <div class="loginPageBtn">
                    <a href="login.html">Login</a>
                </div>
                <div class="registerPageBtn">
                    <a href="register.html">Register</a>
                </div>
            </div>

            <div class="loginForm">
                <h2>Username</h2>
                <input class="inputLoginUsername" type="text" value=""><br>
                <h2>Password</h2>
                <input class="inputLoginPassword" type="password" value=""><br>
            </div>
            <div class="signInBtn">
                <a class="signInButton">Sign in</a>
            </div>
            <div class="loginOrNot">
            </div>
        </div> 

 {{/inline}}


{{#*inline scripts-block}}
      {{!-- Custom scripts per pag.e --}}
{{/inline}}

{{/layouts/base}}