{{!-- pages/projects.hbs --}}

{{#> layouts/base title="Projects | Ururu | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#* inline "head-block"}}        
          <div class="containerQuote">
            <h1>“We build tomorrow.”</h1>
          </div> 
{{/inline}}




 {{#*inline "content-block"}}
 <div class="container">
 <div class="buttonContainer">
    <div class="sectionDescription">
      <h2 class="no-span">overview projects</h2>
    </div>
  </div>
  <div class="projectsContainer"></div>
  </div>      
 {{/inline}}

{{/layouts/base}}