{{!-- pages/login.hbs --}}

{{#> layouts/base title="Register | Ururu | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#* inline "head-block"}}        
          <div class="containerQuote">
            <h1>"it's not too late to register"</h1>
          </div> 
{{/inline}}

 {{#*inline "content-block"}}

        <div class="registerContainer container">
            <div class="pageBtn">
                <div class="loginPageBtn">
                    <a href="login.html">Login</a>
                </div>
                <div class="registerPageBtn">
                    <a href="register.html">Register</a>
                </div>
            </div>
            <div class="loginForm">
                <h2>Username</h2>
                <input class="inputRegisterUsername" type="text" value=""><br>
                <h2>Password</h2>
                <input class="inputRegisterPassword" type="password" value=""><br>
            </div>
            <div class="registerBtn">
                <a class="registerButton" href="#">Register</a>
            </div>
        </div> 

 {{/inline}}


{{#*inline scripts-block}}
      {{!-- Custom scripts per pag.e --}}
{{/inline}}

{{/layouts/base}}