{{!-- pages/projects.hbs --}}

{{#> layouts/base title="Sitemap | Ururu | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#* inline "head-block"}}        
          <div class="containerQuote">
            <h1>"sitemap"</h1>
          </div> 
{{/inline}}

 {{#*inline "content-block"}}
  <div class="sitemapContainer container">
    <div class="buttonContainer">
      <div class="sectionDescription">
        <h2 class="no-span">overview Ururu</h2>
      </div>
    </div>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="aboutus.html">About us</a></li>
      <li><a href="news.html">News</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="privacy.html">Privacy</a></li>
      <li><a href="conditions.html">Conditions</a></li>
      <li><a href="sitemap.html">Sitemap</a></li>
    </ul>
  </div>
 {{/inline}}


{{#*inline scripts-block}}
      {{!-- Custom scripts per pag.e --}}
{{/inline}}

{{/layouts/base}}