/// Kleurenpallet
/// @group abstracts
/// @acces public
/// @type string
$darkbat: (
  #323337,
);

$skyblue: (
  #b7d5bb,
);

$rainycloud: (
  #dee3d1,
);

$nightblue: (
  #2e4b51,
);

$piratebrown: (
  #4e362b,
);

$sandbeige: (
  #e5d5a4,
);

$snowwhite: (
  #fff,
);
