
// STYLE GUIDE //
.titel {
  font-family: $headings-font-family;
}

.titel.dekstop {
  font-size: #{$headings-font-size}pt;
}

.tekst.dekstop {
  font-size: #{$text-font-size}pt;
}

.titel.mobile {
  font-size: #{$headings-font-size-mobile}pt;
}

.tekst.mobile {
  font-size: #{$text-font-size-mobile}pt;
}

.kleur {
  color: white;
  height: 30px;
  text-align: center;
}

.kleur.een {
  background: $darkbat;
}

.kleur.twee {
  background: $nightblue;
}

.kleur.drie {
  background: $skyblue;
}

.kleur.vier {
  background: $rainycloud;
}

.kleur.vijf {
  background: $piratebrown;
}

.kleur.zes {
  background: $sandbeige;
}

.kleur.zeven {
  color: $darkbat;
  background: $snowwhite;
}

/*
.projectAfbeelding {
  @include drawImage(300px);
}
*/

.knopExample {
  @include buttonFirst(#323337/*$darkbat*/, $skyblue, $headings-font-size);
}

.knopExampleTwee {
  @include buttonFirst(#2e4b51, $skyblue, $headings-font-size);
}

.lijn.horizontal {
  @include decorLine(5px, 100px, $skyblue);
}

.lijn.vertical {
  @include decorLine(200px, 5px, $nightblue);
}

.lijst.een {
  @include listLevels(upper-roman);
}

.lijst.twee {
  @include listLevels(square);
}

.fa {
  @include icon-hover-color(#2e4b51, $headings-font-size);
}

.container {
  @include containers();
}

a {
  text-decoration: none;
  color: inherit;
}

.logoutBtn {
  width: 100%;
  margin-bottom: 50px;
  font-family: $headings-font-family;

  @include boxShadow();
  @include createRoundButton(100%, $nightblue, $snowwhite);
}
