body {
  font-family: $base-font-family;
  //font-size: #{$base-font-size}pt;
  line-height: $base-line-height;
  color: $nightblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include type-setting(1);

  margin: #{$base-line-height}rem 0;
  font-size: #{$headings-font-size}px;
}

h1 {
  font-family: $headings-font-family;

  @include type-setting(-1);

  @include respond-to('small') {
    @include type-setting(0);
  }

  @include respond-to('medium') {
    @include type-setting(4);
  }

  @include respond-to('large') {
    @include type-setting(6);
  }

  @include respond-to('huge') {
    @include type-setting(8);
  }
}

h2 {
  font-family: $headings-font-family;

  @include type-setting(0);

  @include respond-to('small') {
    @include type-setting(0);
  }

  @include respond-to('medium') {
    @include type-setting(2);
  }

  @include respond-to('large') {
    @include type-setting(4);
  }

  @include respond-to('huge') {
    @include type-setting(6);
  }
}

h3 {
  font-family: $headings-font-family;

  @include type-setting(4);
}

h4 {
  @include type-setting(-3);

  font-weight: 500;
  font-family: $base-font-family;

  @include respond-to('small') {
    @include type-setting(-3);
  }

  @include respond-to('medium') {
    @include type-setting(0);
  }

  @include respond-to('large') {
    @include type-setting(2);
  }

  @include respond-to('huge') {
    @include type-setting(4);
  }
}

h5 {
  @include type-setting(2);
}

.navigation a,
.footer li {
  font-family: $headings-font-family;
}

.navigation a,
.footer li,
.fa,
.sectionButton,
h2.no-span,
.projectsContainer,
.nameStudent,
.sitemapContainer li,
.buttonsContact,
.dateContainer h2,
.articleContent article,
.textArticle p {
  font-weight: 500;
  font-size: #{$text-font-size}rem;

  @include respond-to('small') {
    @include type-setting(-2);
  }

  @include respond-to('medium') {
    @include type-setting(0);
  }

  @include respond-to('large') {
    @include type-setting(2);
  }

  @include respond-to('huge') {
    @include type-setting(4);
  }
}

p,
.privacyContainer li,
.conditionsContainer li,
.contactInfo p {
  font-size: #{$text-font-size-mobile}rem;
  font-weight: 100;

  @include respond-to('small') {
    @include type-setting(-2);
  }

  @include respond-to('medium') {
    @include type-setting(0);
  }

  @include respond-to('large') {
    @include type-setting(2);
  }

  @include respond-to('huge') {
    @include type-setting(4);
  }
}
