@mixin type-setting($level: 0) {
  font-size: modular-scale($level);
  line-height: line-height($level);
}

@mixin type-setting($level: 0) {
  font-size: modular-scale($level);
  line-height: vr-line-height($level);
}

// button mixins
@mixin buttonFirst($bg, $col, $fontSize) {
  background: $bg;
  color: $col;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  font-size: #{$fontSize}pt;

  &:hover {
    background: darken($bg, 3%);
    transition: all 0.3s ease;
  }

  &:active {
    background: lighten($bg, 20%);
  }
}

// mixin icon hover
@mixin icon-hover-color($col, $fontSize) {
  color: $col;
  font-size: #{$fontSize}pt;

  &:hover {
    color: lighten($col, 15%);
    transition: all 0.3s ease;
  }

  &:active {
    color: lighten($col, 50%);
  }
}

// mixin create a line
@mixin decorLine($width, $height, $col) {
  width: $width;
  height: $height;
  background: $col;
}

// mixin lists
@mixin listLevels($listStyle) {
  list-style-type: $listStyle;
}

// mixin images
@mixin drawImage($height) {
  width: 100%;
  height: $height;
  object-fit: cover;
  object-position: 50% 50%;
}

// mxin to draw a project
@mixin drawProject ($width, $height) {
  width: $width;
  height: $height;
}

// when hovered over the project show a textbox/div
@mixin drawHoverText($height) {
  // try out if and else -> when $right -> use other else use the right ones?
  position: absolute;
  left: 6%;
  width: 30%;
  height: $height;
  background: $darkbat;
  color: $snowwhite;
  opacity: 0;
  padding: 1% 0;

  &:hover {
    opacity: 1;
    transition: opacity 1.5s;
  }
}

// draw a line under things I want
@mixin drawALine($color, $backgroundColor) {
  text-decoration: none;
  position: relative;
  background: $backgroundColor;
  color: $color;

  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    margin: auto;
    right: 0;
    width: 0%;
    border-bottom: 2px solid $color;
    transition: 0.4s;
  }

  &:hover::after {
    width: 70%;
  }
}

// containers
@mixin containers () {
  width: 100%;
  padding: 0 8%;
  margin: 15px 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

// create a costum border
@mixin createABorder($size, $direction, $color, $height) {
  @if $direction == left {
    border-left: $size solid $color;
    // &:after{
    //}
    // trying to shorten the height of the bordering
  }

  @if $direction == right {
    border-right: $size solid $color;
  }

  @if $direction == top {
    //border-top: $size solid $color;
    &::before {
      content: '';
      position: absolute;
      height: $height;
      right: 0;
      width: 50%;
      border-top: $size solid $nightblue;
    }
  }

  @if $direction == bottom {
    //border-bottom: $size solid $color;
    &::before {
      content: '';
      position: absolute;
      height: $height;
      left: 0;
      width: 50%;
      border-bottom: $size solid $nightblue;
    }
  }

  @if $direction == bottomRight {
    //border-top: $size solid $color;
    &::before {
      content: '';
      position: absolute;
      height: $height;
      right: 0;
      width: 50%;
      border-bottom: $size solid $nightblue;
    }
  }
}

// a container for footer/navigation
@mixin makeOuterContainer($colorOne, $colorTwo, $percentage1, $percentage2) {
  width: 100%;
  background: -webkit-linear-gradient(left, $colorOne, $colorOne $percentage1, $colorTwo $percentage2, $colorTwo);
  display: block;
}

// make a beforeline
@mixin createBeforeLine($width, $size, $color) {
  display: table;
  white-space: nowrap;

  &::before {
    border-top: $size solid $color;
    padding: 0 10px;
    margin: 0 30px;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: $width;
  }

  &::before {
    right: 1.5%;
  }
}

// make a round button
@mixin createRoundButton($width, $color, $background) {
  width: $width;
  height: auto;
  text-align: center;
  text-decoration: none;
  color: $background;
  background: $color;
  border: 3px solid $background;
  border-radius: 100px;
  padding: 0.3em 1.2em;
  margin: 5px;

  &:hover {
    background-color: $background;
    color: $color;
    border: 3px solid $color;
  }
}

// shadow box
@mixin boxShadow() {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
