// detailpagearticle~~ 
.socialDateContainer {
  min-height: 20px;
  position: relative;
}

.socialContainer ul li {
  display: inline;
  float: right;
  margin: 12px 0 0 17px; // if somethings wrong this caused it
}

.socialContainer ul {
  margin: 0;
}

.dateContainer {
  float: left;
  color: $skyblue;
}

.dateContainer h2 {
  @include createBeforeLine(30px, 3px, $skyblue);
}

.imgProject {
  @include boxShadow();
}

// MEDIA --------------------------------------------------------------------------  detailarticlepage~~
@include respond-to('large') {
  .articleImage {
    width: 49%;
    float: right;
    clear: both;
    margin: 0 0 30px 30px;
  }

  .articleContent {
    text-align: left;
  }

  .socialDateContainer {
    min-height: 40px;
    margin-bottom: 50px;
  }
}

// -------------------------------------------------------------------------------    detailpageproject~~
.detailStudentDetail {
  width: 50%;
}

.nameProjectDetail {
  width: 50%;
  padding-left: 10px;
}

.detailStudentContainer {
  display: flex;
  box-sizing: border-box;
  border-bottom: 3pt solid $nightblue;
}

.socialContainerDetail {
  display: flex;
  margin: 10px 0;
}

.projectAssignmentDetail {
  margin: 10px 0 50px;
  border-bottom: 3pt solid $nightblue;
}

.nameProjectDetail ul {
  text-decoration: none;
}

.shareContainer i.fa.foot {
  margin: 0 0 0 10px;
}

.projectContainer h4 {
  font-family: $headings-font-family;
  margin: 0;
}

.detailStudentDetail {
  border-right: 5px solid $nightblue;
  margin: 10px 0;
}

.nameProjectDetail {
  margin-top: 17px;
}

.nameProjectDetail i.fa.foot {
  padding-top: 50px;
}

// MEDIA --------------------------------------------------------------------------  detailprojectpage~~
@include respond-to('small') {
  .detailStudentDetail {
    margin: 10px 0 20px;
    padding: 0 30px 0 0;
  }

  .shareContainer i.fa.foot {
    margin: 0 0 0 15px;
  }

  .detailStudentDetail {
    width: 50%;
  }

  .nameProjectDetail {
    width: 50%;
    padding-left: 20px;
  }
}

@include respond-to('medium') {
  .detailStudentDetail {
    margin: 10px 0 25px;
    padding: 0 30px 0 0;
  }

  .detailStudentDetail i.fa.foot {
    margin-left: 30px;
  }

  .shareContainer i.fa.foot {
    margin: 0 0 0 86px;
  }

  .detailStudentDetail {
    width: 35%;
  }

  .nameProjectDetail {
    width: 65%;
    padding-left: 30px;
  }

  .nameProjectDetail i.fa.foot {
    padding-top: 60px;
  }
}

@include respond-to('large') {
  .detailStudentDetail {
    margin: 10px 0 30px;
    padding: 0 50px 0 0;
  }

  .shareContainer i.fa.foot {
    margin: 0 0 0 126px;
  }

  .nameProjectDetail i.fa.foot {
    padding-top: 75px;
  }
}

@include respond-to('huge') {
  .detailStudentDetail {
    margin: 10px 0 40px;
    padding: 0 60px 0 0;
  }

  .detailStudentDetail i.fa.foot {
    margin-left: 50px;
  }

  .shareContainer i.fa.foot {
    margin: 0 0 0 166px;
  }

  .nameProjectDetail i.fa.foot {
    padding-top: 80px;
  }
}
